<!--The content below is only a placeholder and can be replaced.-->
<!--双花括号语法是 Angular 的插值绑定语法。 这个插值绑定的意思是把组件的 title 属性的值绑定到 HTML 中的 h1 标记中。-->  
<h1>{{ title }}!</h1> 
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>

<!--显示HeroesComponent 视图-->
 <!--app-heroes 就是 HeroesComponent 的 元素选择器。 所以，只要把 <app-heroes> 元素添加到 AppComponent 的模板文件中就可以了-->
<!-- <app-heroes></app-heroes> -->
<!--把 <app-heroes> 元素替换为 <router-outlet> 元素。-->
<!--之所以移除 <app-heroes>，是因为只有当用户导航到这里时，才需要显示 HeroesComponent。<router-outlet> 会告诉路由器要在哪里显示路由到的视图。-->
<router-outlet></router-outlet>
<app-messages></app-messages>
